<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="">


    <style>
        .navbar a {
            text-decoration: none;
            margin: .5rem;
            color: aliceblue;
            font-size: 1.2rem;
        }

        .navbar a:hover {
            color: rgb(255, 174, 0);
        }

        /* -------------responsive ----------------*/
        @media only screen and (max-width: 600px) {
            .navbar {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

        }
        /*Tablets [601px -> 1200px]*/
        @media only screen and (max-width: 1200px) {
               .navbar {
                display: flex;
                font-size: .5rem;
                justify-content: center;
                align-items: center;
            }

        }
    </style>
</head>

<body>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="#book">Book</a>
        <a href="#packages">Packages</a>
        <a href="#services">Services</a>
        <a href="#gallery">Gallery</a>
        <a href="#review">Review</a>
        <a href="#contact">Contact</a>
        <a href="/register">SignUp</a>
        <a href="/login">Login</a>
    </nav>
</body>

</html>